<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/login.css" />
    <title>Quên mật khẩu</title>
</head>
<body>

    <div class="container">
        <form action="/auth/login" method="post" class="form " id="login">
            <div class="logo-auth">
                <a href="/"><img class="logo" src="/img/MEGAS (2).png" alt=""></a></div>
            <h1 class="form-title">Quên mật khẩu</h1>
            <div class="form-message form-message-error"><%=mes%></div>
            <div class="form-input-group">
                <input type="text" class="form-input" autofocus placeholder="Email" name="email" <%if (value!="") { %> value=<%=value%> <%}%> >
                <div class="form-input-error-message"></div>
            </div>
            <button class="form-button" type="Submit">Gửi</button>
            <p class="form-text">
                <a href="/auth/login" class="form-link">Đăng nhập</a>
            </p>
            <p class="form-text">
                <a class="form-link" href="/auth/register" id="linkCreateAccount" >Chưa có tài khoản? Đăng ký ngay!</a>
            </p>
        </form>
        
        
    </div>

</body>
</html>