<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/login.css" />
    <title>Login/Register for an account</title>
</head>
<body>

    <div class="container">
        <form action="" class="form " id="login">
            <h1 class="form-title">Login</h1>
            <div class="form-message form-message-error"></div>
            <div class="form-input-group">
                <input type="text" class="form-input" autofocus placeholder="Username or Email">
                <div class="form-input-error-message"></div>
            </div>
            <div class="form-input-group">
                <input type="password" class="form-input" autofocus placeholder="Password">
                <div class="form-input-error-message"></div>
            </div>
            <button class="form-button" type="Submit">Continue</button>
            <p class="form-text">
                <a href="#" class="form-link">Forgot your password?</a>
            </p>
            <p class="form-text">
                <a class="form-link" href="./" id="linkCreateAccount" >Don't have an account? Create account !</a>
            </p>
        </form>
        <form action="" class="form form-hidden" id="createAccount">
            <h1 class="form-title">Create Account</h1>
            <div class="form-message form-message-error"></div>
            <div class="form-input-group">
                <input type="text" class="form-input" autofocus placeholder="Username">
                <div class="form-input-error-message"></div>
            </div>
            <div class="form-input-group">
                <input type="text" class="form-input" autofocus placeholder="Email Address">
                <div class="form-input-error-message"></div>
            </div>
            <div class="form-input-group">
                <input type="password" class="form-input" autofocus placeholder="Password">
                <div class="form-input-error-message"></div>
            </div>
            <div class="form-input-group">
                <input type="password" class="form-input" autofocus placeholder="Confirm password">
                <div class="form-input-error-message"></div>
            </div>
            <button class="form-button" type="Submit">Continue</button>
            <p class="form-text">
                <a class="form-link" href="./" id="linkLogin" >Already have an Account? Sign in !</a>
            </p>
        </form>
    </div>

    <script src="js/login.js"></script>
</body>
</html>