<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>MEGAS CINEMA</title>
</head>
<!-- navbar -->

<body>
    <div class="wrapper">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark nav1">
            <div class="collapse navbar-collapse navnav" id="Mainnav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link " href="dangky.html">Đăng ký</a>
                    </li>
                    <div class="nav-cach"></div>
                    <li class="nav-item">
                        <a class="nav-link" href="login.html">Đăng nhập</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="wrapper-index">
        <div class="menu-index" id="menu">
            <ul class="menu-ul">
                <li>
                    <a href="index.html"><img class="img-logo" src="/img/MEGAS (2).png" /></a>
                </li>
                <div class="dropdown">
                    <li class="li1"><a class="menu-a" href="index.html">PHIM</a>
                        <div class="noidung_dropdown">
                            <a href="#">Tất cả</a>
                            <a href="#">Phim sắp chiếu</a>
                            <a href="#">Phim đang chiếu</a>
                        </div>
                    </li>
                </div>
                <div class="dropdown">
                    <li><a class="menu-a" href="index.html">THỂ LOẠI</a>
                        <div class="noidung_dropdown">
                            <a href="#">Kinh dị</a>
                            <a href="#">Tình cảm</a>
                            <a href="#">Hành động</a>
                            <a href="#">Hài hước</a>
                            <a href="#">Hoạt hình</a>
                            <a href="#">Lịch sử</a>
                        </div>
                    </li>
                </div>
                <li><a class="menu-a" href="menu.html">MUA VÉ</a></li>
                <li><a class="menu-a" href="giohang.html">SỰ KIỆN</a></li>
                <li><a class="menu-a" href="giohang.html">HỖ TRỢ</a></li>
            </ul>
        </div>
        <div class="ad-movie">
            <div class="h5-detail">Quản lý lịch chiếu</div>
            <span class="line-detail"></span>
                <table class="table table-striped  table-bordered" style="font-size: 15px;">
                    <thead>
                        <tr>
                            <th scope="col" style="width: 10%;">Mã suất chiếu</th>
                            <th scope="col">Tên phim</th>
                            <th scope="col">Ngày chiếu</th>
                            <th scope="col">Giờ chiếu</th>
                            <th scope="col">Phòng chiếu</th>
                            <th scope="col" style="width: 1%;">
                                <div class="btn-admin">
                                    <button type="button" class="btn btn-danger btn-buy" data-toggle="modal"
                                        data-target=".bd-example-modal-lg"
                                        style="width:50px; margin-top: 0px">+</button>

                                    <form action="/admin/showtime/add-showtime" method="POST">
                                        <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
                                            aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-lg">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h4 class="modal-title">Thêm lịch chiếu</h4>
                                                        <button type="button" class="close"
                                                            data-dismiss="modal">&times;</button>
                                                    </div>

                                                    <div class="modal-body">
                                                        <div class="ad-phim1">
                                                            <label style="width: 150px;" for="">Chọn phim</label>
                                                            <div class="form-group">
                                                                <select name="nameEN" class="form-select">
                                                                    <%films.forEach(function(fi){%>
                                                                        <option value="<%=fi.nameEN%>"><%=fi.nameVN%></option>
                                                                    <%})%>    
                                                                </select>
                                                                <span class="span-error" id="birth_error"></span>
                                                            </div>
                                                        </div>
                                                        <div class="ad-phim1">
                                                            <label style="width: 150px;" for="">Ngày chiếu</label>
                                                            <input name="date" class="date-lc" type="date">
                                                        </div>
                                                        <div class="ad-phim1">
                                                            <label style="width: 150px;" for="">Suất chiếu</label>
                                                            <div class="lc-suatchieu">
                                                                <div class="sc-check">
                                                                    <div class="form-check">
                                                                        <input name="time" class="form-check-input" type="checkbox" value="09:00" id="flexCheckDefault">
                                                                        <label name="suat1"] class="form-check-label" for="flexCheckDefault">
                                                                          09:00 AM
                                                                        </label>
                                                                      </div>
                                                                    <select name="room" class="select-pc">
                                                                        <option value="0" selected>Chọn phòng chiếu</option>
                                                                        <option value="1">CINEMA 1</option>
                                                                        <option value="2">CINEMA 2</option>
                                                                        <option value="3">CINEMA 3</option>
                                                                    </select>
                                                                </div>
                                                                <div class="sc-check">
                                                                    <div class="form-check">
                                                                        <input name="time" class="form-check-input" type="checkbox" value="11:00" id="flexCheckDefault">
                                                                        <label name="suat2" class="form-check-label" for="flexCheckDefault">
                                                                          11:00 AM
                                                                        </label>
                                                                      </div>
                                                                    <select name="room" class="select-pc">
                                                                        <option value="0" selected>Chọn phòng chiếu</option>
                                                                        <option value="1">CINEMA 1</option>
                                                                        <option value="2">CINEMA 2</option>
                                                                        <option value="3">CINEMA 3</option>
                                                                    </select>
                                                                </div>
                                                                <div class="sc-check">
                                                                    <div class="form-check">
                                                                        <input name="time" class="form-check-input" type="checkbox" value="13:00" id="flexCheckDefault">
                                                                        <label name="suat3" class="form-check-label" for="flexCheckDefault">
                                                                          13:00 PM
                                                                        </label>
                                                                      </div>
                                                                    <select name="room" class="select-pc">
                                                                        <option value="0" selected>Chọn phòng chiếu</option>
                                                                        <option value="1">CINEMA 1</option>
                                                                        <option value="2">CINEMA 2</option>
                                                                        <option value="3">CINEMA 3</option>
                                                                    </select>
                                                                </div>
                                                                <div class="sc-check">
                                                                    <div class="form-check">
                                                                        <input name="time" class="form-check-input" type="checkbox" value="15:00" id="flexCheckDefault">
                                                                        <label name="suat4" class="form-check-label" for="flexCheckDefault">
                                                                          15:00 PM
                                                                        </label>
                                                                      </div>
                                                                    <select name="room" class="select-pc">
                                                                        <option value="0" selected>Chọn phòng chiếu</option>
                                                                        <option value="1">CINEMA 1</option>
                                                                        <option value="2">CINEMA 2</option>
                                                                        <option value="3">CINEMA 3</option>
                                                                    </select>
                                                                </div>
                                                                <div class="sc-check">
                                                                    <div name="suat5" class="form-check">
                                                                        <input name="time" class="form-check-input" type="checkbox" value="17:00" id="flexCheckDefault">
                                                                        <label class="form-check-label" for="flexCheckDefault">
                                                                          17:00 PM
                                                                        </label>
                                                                      </div>
                                                                    <select name="room" class="select-pc">
                                                                        <option value="0" selected>Chọn phòng chiếu</option>
                                                                        <option value="1">CINEMA 1</option>
                                                                        <option value="2">CINEMA 2</option>
                                                                        <option value="3">CINEMA 3</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>


                                                    <div class="modal-footer">
                                                        <button type="submit" class="btn btn-danger">Thêm</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">
                                TCR01
                            </th>
                            <td style="width: 20%;">
                                <div>THE DEVIL MADE ME DO IT</div>
                                <div>THE CONJURING: MA XUI QUỶ KHIẾN</div>
                            </td>
                            <td>
                                15/11/2021
                            </td>
                            <td>
                                07:30 Am
                            </td>
                            <td>
                                CINEMA 1
                            </td>

                            <td>
                                <div class="ad-btn" style="    width: 60px;">
                                    <button type="button" class="btn-close btn-xoa" aria-label="Close"
                                        style="margin-top: 30px;" data-target="#exampleModal"></button>
                                    <button type="button" class="btn btn-danger btn-buy" data-toggle="modal"
                                        data-target=".bd-example-modal-lg1"
                                        style="width:100%; margin-top: 20px">Sửa</button>
                                </div>
                            </td>

                            <form action="">
                                <div class="modal fade bd-example-modal-lg1" tabindex="-1" role="dialog"
                                    aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">Sửa lịch chiếu</h4>
                                                <button type="button" class="close"
                                                    data-dismiss="modal">&times;</button>
                                            </div>

                                            <div class="modal-body">
                                                <div class="ad-phim1">
                                                    <label style="width: 150px;" for="">Tên phim</label>
                                                    <label for="">
                                                    <div>THE DEVIL MADE ME DO IT</div>
                                                    <div>THE CONJURING: MA XUI QUỶ KHIẾN</div></label>
                                                </div>
                                                <div class="ad-phim1">
                                                    <label style="width: 150px;" for="">Ngày chiếu</label>
                                                    <div>15/11/2021</div>
                                                </div>
                                                <div class="ad-phim1">
                                                    <label style="width: 150px;" for="">Suất chiếu</label>
                                                    <div class="lc-suatchieu">
                                                        <div class="sc-check">
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                                                <label name="suat1" class="form-check-label" for="flexCheckDefault">
                                                                  09:00 AM
                                                                </label>
                                                              </div>
                                                            <select name="suat1" class="select-pc">
                                                                <option selected>Chọn phòng chiếu</option>
                                                                <option value="1">CINEMA 1</option>
                                                                <option value="2">CINEMA 2</option>
                                                                <option value="3">CINEMA 3</option>
                                                            </select>
                                                        </div>
                                                        <div class="sc-check">
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                                                <label name="suat2" class="form-check-label" for="flexCheckDefault">
                                                                  11:00 AM
                                                                </label>
                                                              </div>
                                                            <select name="suat2" class="select-pc">
                                                                <option selected>Chọn phòng chiếu</option>
                                                                <option value="1">CINEMA 1</option>
                                                                <option value="2">CINEMA 2</option>
                                                                <option value="3">CINEMA 3</option>
                                                            </select>
                                                        </div>
                                                        <div class="sc-check">
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                                                <label name="suat3" class="form-check-label" for="flexCheckDefault">
                                                                  13:00 PM
                                                                </label>
                                                              </div>
                                                            <select name="suat3" class="select-pc">
                                                                <option selected>Chọn phòng chiếu</option>
                                                                <option value="1">CINEMA 1</option>
                                                                <option value="2">CINEMA 2</option>
                                                                <option value="3">CINEMA 3</option>
                                                            </select>
                                                        </div>
                                                        <div class="sc-check">
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                                                <label name="suat4" class="form-check-label" for="flexCheckDefault">
                                                                  15:00 PM
                                                                </label>
                                                              </div>
                                                            <select name="suat4" class="select-pc">
                                                                <option selected>Chọn phòng chiếu</option>
                                                                <option value="1">CINEMA 1</option>
                                                                <option value="2">CINEMA 2</option>
                                                                <option value="3">CINEMA 3</option>
                                                            </select>
                                                        </div>
                                                        <div class="sc-check">
                                                            <div name="suat5" class="form-check">
                                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                                                <label class="form-check-label" for="flexCheckDefault">
                                                                  17:00 PM
                                                                </label>
                                                              </div>
                                                            <select name="suat5" class="select-pc">
                                                                <option selected>Chọn phòng chiếu</option>
                                                                <option value="1">CINEMA 1</option>
                                                                <option value="2">CINEMA 2</option>
                                                                <option value="3">CINEMA 3</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>


                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-danger">Thêm</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                    </tbody>
                </table>
        </div>
</body>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script>
    $('a.confirmDeletion').on('click', function () {
        if (!confirm('Confirm Deletion ? '))
            return false;
    })
</script>

</html>