<footer>
    <div class="span-footer"></div>
    <div class="flex-footer">
        <div class="footer-logo">
            <img class="img-logo-footer" src="img/logo.gif" alt="">
        </div>
        <div class="text-footer">
            CÔNG TY TNHH MEGAS VIETNAM
            <div>Giấy CNĐKDN: 0303675393, đăng ký lần đầu ngày 01/11/2021,
                cấp bởi Sở KHĐT thành phố Đà Nẵng.</div>
            <div>Địa Chỉ: Tầng 2, Rivera Park - Số 28 Trần Hưng Đạo, Quận Sơn Trà, TP.Đà Nẵng.</div>
            <div>Hotline: 1900 6017</div>
            <div>COPYRIGHT 2021 MEGAS. All RIGHTS RESERVED</div>
        </div>
    </div>
    
</footer>