<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>MEGAS CINEMA</title>
</head>
<!-- navbar -->
<header>
<body>
    <div class="wrapper">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark nav1">
            <div class="collapse navbar-collapse navnav" id="Mainnav">
                <ul class="navbar-nav">
                    <% if (userMdw==""){ %>
                    <li class="nav-item active">
                    <a class="nav-link " href="/auth/register">Đăng ký</a>
                    </li> 
                     <div class="nav-cach"></div> 
                     <li class="nav-item">
                        <a class="nav-link" href="/auth/login">Đăng nhập</a>
                    </li> 
                    <% } else { %>
                        <%if (userMdw.admin==1){%>
                            <a class="nav-link" style="color: seashell;" href="/admin/showtime">Quản lý</a>
                        <%}%>
                        <div class="nav-cach"></div>
                <div class="dropdown1">
                        <li class="nav-item">
                        <a class="nav-link">Chào <%=userMdw.fullname%></a>
                        <div class="noidung_dropdown1">
                            <a href="/user">Hồ sơ</a>
                            <a href="/user/purchase">Đơn hàng</a>
                            <a href="/auth/logout">Đăng xuất</a>
                        </div>
                    </li>
                </div>
                    <% } %>
                       
                </ul>
            </div>
        </nav>
    </div>
<!-- menu -->
    <div class="wrapper-index">
        <div class="menu-index" id="menu">
            <ul class="menu-ul">
                <li>
                    <a href="/"><img class="img-logo" src="../../img/MEGAS (2).png" /></a>
                </li>
                <div class="dropdown">
                    <li class="li1"><a class="menu-a" href="index.html">PHIM</a>
                        <div class="noidung_dropdown">
                            <a class="btn-all" href="/film/status/all">Tất cả</a>
                            <a class="btn-psc" href="/film/status/Sắp khởi chiếu">Phim sắp chiếu</a>
                            <a class="btn-pdc" href="/film/status/Đang khởi chiếu">Phim đang chiếu</a>
                        </div>
                    </li>
                </div>
                <div class="dropdown">
                    <li><a class="menu-a" href="index.html">THỂ LOẠI</a>
                        <div class="noidung_dropdown">
                            <a href="/film/type/Kinh dị">Kinh dị</a>
                            <a href="/film/type/Tình cảm">Tình cảm</a>
                            <a href="/film/type/Hành động">Hành động</a>
                            <a href="/film/type/Hài hước">Hài hước</a>
                            <a href="/film/type/Hoạt hình">Hoạt hình</a>
                            <a href="/film/type/Lịch sử">Lịch sử</a>
                        </div>
                    </li>
                </div>
                <li><a class="menu-a" href="menu.html">GIÁ VÉ</a></li>
                <li><a class="menu-a" href="giohang.html">HỖ TRỢ</a></li>
                <li style="width: 400px">
                    <form class="search-form" action="/film/search" method="GET" style="display:flex; height: 40px;">
                        <input style="margin-left: 10px;" name="film" class="form-control me-2 input-search" type="text"
                            placeholder="Tìm kiếm" aria-label="Search">
                        <button style="    width: 150px;" class="btn btn-outline-success btn-search" type="submit">Tìm kiếm</button>
                    </form>
                </li>
            </ul>
        </div>

    </body>
</header>