<div class="menu">
    <%if (userMdw.photo!="" ){%>
        <img class="avt-img" src="/img/users/<%=userMdw.email%>/<%=userMdw.photo%>" alt="">
        <%} else {%>
            <img class="avt-img" src="/img/user.png" alt="">
            <%}%>
                <a href="/user" class="myaccount">Tài khoản của tôi</a>
                <a href="/user/change-info" class="myaccount">Thay đổi thông tin</a>

                <a href="/user/purchase" class="myaccount">Đơn mua</a>
                <a href="#" class="myaccount">Thông báo</a>
</div>