<%- include ('./layouts/header') %>
<body>
    <div class="theloai-body">
        <div class="h5-detail">Sự kiện</div>
        <span class="line-detail"></span>
        <div class="gia-price" style="    padding: 50px 0;">
            <a href="#">
                <div class="sukien">
                    <div class="sukien-img">
                        <img src="/img/sukien1.jpg" style="width:400px">
                    </div>
                    <div class="sukien-text">
                        <div class="sukien-title">
                            Phim Hay Tháng 04.2021: Tháng Phim Việt Bùng Nổ
                        </div>
                        <div class="sukien-sub">
                            Mùa phim hè năm 2021 chính thức bắt đầu, cuộc chiến tại phòng vé tháng 04 đang nóng dần hơn
                            khi
                            có
                            đến 05 phim Việt cùng ra mắt. Sau một năm chịu ảnh hưởng nặng nề do tác động từ dịch Covid,
                            nhằm
                            thỏa mãn cơn “khát phim” của công chúng, phía các nhà sản xuất đã đồng loạt chọn cùng một
                            thời
                            điểm
                            để đưa “đứa con” tinh thần của mình ra rạp. Có thể thấy bàn tiệc điện ảnh lần này vô cùng
                            phong
                            phú
                            về thể loại khi trải dài từ khoa học viễn tưởng, cổ trang, hành động, kinh dị… Bên cạnh đó
                            là
                            những
                            cái tên siêu hot đến từ dàn diễn viên hứa hẹn một cuộc đấu sẽ tạo nên đại địa chấn tại phòng
                            vé.
                        </div>
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="sukien">

                    <div class="sukien-text" style="padding:0px; padding-right:20px">
                        <div class="sukien-title">
                            Spider-Man: No Way Home Có Bao Nhiêu Trứng Phục Sinh?
                        </div>
                        <div class="sukien-sub">
                            149 phút phim mới Spider-Man: No Way Home đầy trứng Phục Sinh. Hãy cùng điểm lại xem bạn có
                            bỏ sót gì khi thưởng thức tại rạp chiếu phim không nhé! Bài viết tiết lộ nhiều tình tiết
                            quan trọng về Spider-Man: No Way Home.
                        </div>
                    </div>
                    <div class="sukien-img" style="margin-right: 20px;">
                        <img src="/img/sukien2.jpg" style="width:400px;">
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="sukien">
                    <div class="sukien-img">
                        <img src="/img/sukien3.jpg" style="width:400px">
                    </div>
                    <div class="sukien-text">
                        <div class="sukien-title">
                            Rừng Thế Mạng: Câu Chuyện Sinh Tồn Đầy Hấp Dẫn Của Điện Ảnh Việt
                        </div>
                        <div class="sukien-sub">
                            Được xem là tác phẩm đầu tiên thuộc thể loại sinh tồn, Rừng Thế Mạng của đạo diễn Trần Hữu
                            Tấn ngoài việc sở hữu một kịch bản hấp dẫn, còn giới thiệu đến công chúng dàn diễn viên trẻ
                            đầy triển vọng. Đề tài sinh tồn trên điện ảnh không phải là điều mới mẻ, những cái tên gây
                            tiếng vang trước đây như 127 Hours, Cast Away hoặc Life Of Pi đều thành công khi khắc họa sự
                            khó khăn, nỗi đau và giằng xé nội tâm của nhân vật khi lâm vào tình thế hiểm nghèo. Đi cùng
                            đó là những thông điệp lạc quan, mang tới niềm hy vọng và truyền cảm hứng cho bất kỳ ai cũng
                            có thể dễ dàng cảm nhận được.
                        </div>
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="sukien">

                    <div class="sukien-text" style="padding:0px; padding-right:20px">
                        <div class="sukien-title">
                            Trùm Data Megas - Gói Cước Siêu Khuyến Mãi
                        </div>
                        <div class="sukien-sub">
                            Trùm Data Megas là gói cước siêu khuyến mại với sự hợp tác đặc biệt giữa MobiFone và
                            Megas. Với gói cước Trùm Data Megas, khách hàng là thuê bao MobiFone không chỉ thoải mái
                            sử dụng 4G lướt net “tẹt ga” (không ngắt băng thông) mà còn được thưởng thức kho phim chiếu
                            rạp độc quyền trên Megas Play – nền tảng xem phim online số 1 Việt Nam. Megas Play với thư
                            viện phim lên tới 10.000 giờ, sở hữu danh mục phim 4K lớn nhất, âm thanh nổi Dolby 5.1, đem
                            lại cho khách hàng cảm giác xem phim rạp ngay tại phòng khách nhà mình.
                        </div>
                    </div>
                    <div class="sukien-img" style="margin-right: 20px;">
                        <img src="/img/sukien4.jpg" style="width:400px;">
                    </div>
                </div>
            </a>
        </div>
    </div>
</body>
<%- include ('./layouts/footer') %>