<%- include ('./layouts/header') %>
<body>
    <div class="theloai-body">
    <div class="h5-detail">Vé & Snack</div>
    <span class="line-detail"></span>
    <div class="gia-price">
        
        <img src="/img/ve.png" alt="" style="width:300px">
        <img src="/img/combo.png" alt="" style="width:300px; margin-left: 25px;">
        <img src="/img/snack.png" alt="" style="width:300px; margin-left: 20px;">
    </div>
</div>
</body>
<%- include ('./layouts/footer') %>