<%- include ('../layouts/header') %>

    <body>
        <div class="dathang">
            <div class="dathang-left">
                <div class="input-dathang">
                    <div class="ad-phim">
                        <h3 style="margin-top: 20px; font-size: 40px;
                        font-weight: 700;">Đặt vé thất bại
                    </div>
                    <div class="ad-phim" style="display: block">  

                        <div style="font-size: 16px; font-style: italic; margin-top: 20px;">*Nguyên nhân: Suất chiếu bạn vừa đặt đã bị đóng hoặc chỗ ngồi của bạn đã bị người khác đặt trước</div>
                        <div style="font-size: 16px; font-style: italic; ">*Chúng tôi xin lỗi vì sự bất tiện này</div>

                    </div>
                </div>
            </div>
        </div>

    </body>
    