<%- include ('./layouts/header') %>

<body>
    <div class="detail-title">Nội dung phim</div>
    <div class="flex-detail">
        <div class="detail-img"><img src="img/poster.png"></div>
    </div>
</body>